<div class="homeBack">
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="" />
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="" />
                <label>Password</label>
            </div>
            <a href="#"> Submit </a>
            <a routerLink="/signup" style="margin-left: 20px" href="#">
                Signup
            </a>
        </form>
    </div>
</div>
